
<body>
<main class="container">
  <form>
    <h1>Login de Usuario</h1>
    <div class="inputBox">
      <input placeholder="email" type="email">
    </div>
    <div class="inputBox">
      <input placeholder="senha" type="password">
    </div>

    <div class="remember-forgot">
      <label>
        <input type="checkbox">
        Lembrar senha
      </label>
      <a href="#">Esqueci a senha</a>
    </div>

    <button type="submit" class="button-login">Login</button>

    <div class="register-link">
      <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
    </div>
  </form>
</main>
</body>
