* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('./fundotrab.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  width: 420px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #585858;
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
  color: rgb(0, 0, 0);
}

// .remember-forgot {
//   display: flex;
//   justify-content: space-between;
//   padding: 15px;
//   margin: -15px 0 15px;
//   color: #000000;
// }

// .remember-forgot label input {
//   accent-color: #000000;
//   margin-right: 5px;
// }

// .remember-forgot a {
//   color: #000000;
//   text-decoration: none;
// }

// .remember-forgot a:hover {
//   text-decoration: underline;
// }

.button-login {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #585858;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.button-login:hover {
  background-color: #9d9d9d;
  border: 2px solid #000000;
  color: #000000;
  transition: 1s;
}

.register-link {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #000000;
}
