<main class = "body">  
  <div class="account-form-container">
    <h2>
      {{ isEdit ? 'Editar Conta' : 'Nova Conta' }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Nome -->
      <div class="mb-4">
        <label>Nome</label>
        <input
          type="text"
          formControlName="name"
        />
        <div
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          class="error-text"
        >
          O nome deve ter pelo menos 3 caracteres.
        </div>
      </div>

      <!-- Tipo -->
      <div class="mb-4">
        <label>Tipo</label>
        <select formControlName="type">
          <option value="">Selecione</option>
          <option value="CHECKING">Conta Corrente</option>
          <option value="SAVINGS">Conta Poupança</option>
          <option value="LOAN">Conta de Investimentos</option>
          <option value="OTHER">Outro</option>
        </select>
        <div
          *ngIf="form.get('type')?.invalid && form.get('type')?.touched"
          class="error-text"
        >
          Selecione um tipo.
        </div>
      </div>

      <!-- Saldo Inicial -->
      <div class="mb-4" *ngIf="!isEdit">
        <label>Saldo Inicial</label>
        <input
          type="number"
          formControlName="initialBalance"
        />
        <div
          *ngIf="form.get('initialBalance')?.invalid && form.get('initialBalance')?.touched"
          class="error-text"
        >
          Informe um valor válido.
        </div>
      </div>

      <!-- Cor -->
      <div class="mb-4">
        <label>Cor</label>
        <input
          type="color"
          formControlName="color"
        />
      </div>

      <!-- Ícone -->
      <div class="mb-4">
        <label>Ícone</label>
        <input
          type="text"
          placeholder="Ex: wallet, home, car..."
          formControlName="icon"
        />
      </div>

      <!-- Botões -->
      <div class="buttons">
        <button
          type="button"
          class="cancel-btn"
          (click)="cancel()"
        >
          Cancelar
        </button>

        <button
          class="save-btn"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ isEdit ? 'Salvar Alterações' : 'Criar Conta' }}
        </button>
      </div>

    </form>
  </div>
</main>